[submodule "cSpaceViz_Gradient_Wavefront_planners"]
	path = cSpaceViz_Gradient_Wavefront_planners
	url = https://github.com/nicholasRenninger/cSpaceViz_Gradient_Wavefront_planners
[submodule "bugAlgorithms_and_kinematics"]
	path = bugAlgorithms_and_kinematics
	url = https://github.com/nicholasRenninger/bugAlgorithms_and_kinematics
[submodule "AStar_and_PRM_Planning_Analysis"]
	path = AStar_and_PRM_Planning_Analysis
	url = https://github.com/nicholasRenninger/AStar_and_PRM_Planning_Analysis
